<div class="row">
    <div class="col col-12">
        <h1 class="font-66 mt-5 mb-5">{{destination.name}}</h1>
    </div>
    <div class="col col-12">
        <img class="img-fluid widescreen" src="{{destination.image}}" alt="{{destination.name}} image">
    </div>
    <div class="col col-12 font-24 mt-5 mb-5">
        <p>{{destination.description}}</p>
    </div>
    <div class="row mb-5">
        {{#each activities}}
        <div class="card mb-3 col col-4">
            <img src="{{image}}" class="card-img-top img-fluid square" alt="{{name}} image">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}</p>
                <p class="card-text">Cost: ${{cost}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>