<h1>{{title}}</h1>
<p>{{description}}</p>
{{!-- Slideshow with the homepage gallery --}}

<div id="carouselHome" class="carousel slide">
  <div class="carousel-inner">
{{#each galleryImages}}
    <div class="carousel-item {{#if @first}}active{{/if}}">
      <img class="widescreen" src="{{url}}" alt="{{caption}}">
    </div>
{{/each}}
</div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{{!-- Destinations --}}
<div class="row mt-5">
{{#each destinations}}
  <div class="col col-4 mb-4">
    <div class="card h-100">
      <img src="{{image}}" class="card-img-top img-fluid square" alt="{{name}} image">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{name}}</h5>
        <a href="/destinations/{{_id}}" class="btn btn-primary mt-auto">View Details</a>
      </div>
    </div>
  </div>
{{/each}}